body {
    background: rgb(0, 0, 0);
    background-image: url(../img/fondo45.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 100px;
}
.link3 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 20px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
   
}

.link1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
}

.logo {
    height: 300px;
    width: 300px;
    margin-top: 0px;
    margin-left: 400px;
    background-color: rgba(0, 0, 0, 0.61);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.titulo {
    background-color: rgba(0, 0, 0, 0.253);
    color: rgb(255, 255, 255);
    margin: 0 15px;
    border: 5px solid rgb(0, 0, 0);


}

.stg {
    background: url(../img/fondo45.gif);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.mariog {
    background: url(../img/fondo45.gif);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.pacmang {
    background: url(../img/fondo45.gif);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.st {
    background: url(../img/fondo45.gif);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.mario {
    background: url(../img/fondo45.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 100px;
}

.pacman {
    background: url(../img/fondo45.gif);
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carousel {
    width: 350px !important;
    height: 350px !important;
}


.juegos {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cuadrado {

    width: 100px;
    height: 100px;
    position: fixed;
    left: 10px;
    bottom: 400px;
}

.link {
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
}

.stimagen {
    height: 300px;
    width: 500px;
    margin-top: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.pacmanimagen {
    height: 300px;
    width: 480px;
    margin-top: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.marioimagen {
    height: 300px;
    width: 700px;
    margin-top: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.imagen {
    height: 300px;
    width: 300px;
    margin-top: 30px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: rgb(255, 255, 255);
    font-style: italic;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue
}


p {
    color: rgb(255, 255, 255);
}

footer {
    color: rgb(255, 251, 0);
}

a {
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
    margin-right: 50px;
    margin-bottom: 80px;

}

footer h3 span {
    color: rgb(255, 0, 0);
}

.espacio {
    margin-top: 100px;
}

.links {
    flex-direction: row !important;

}

header {
    display: flex;
    width: 100%;
    color: aliceblue;
}

.contenedor-header {

    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;

}



.contenedor-header img {
    height: 80vh;
    margin-left: 0px;
    opacity: 0.;
}

.contenedor-header ul {

    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.contenedor-header ul li a {
    background-color: rgba(0, 0, 0, 0.726);
    color: rgb(255, 255, 255);
    margin: 0 15px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.contenedor-header ul li a:hover {
    color: rgb(255, 230, 0);
    transition: 0.8s;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
}